@charset "UTF-8";

body{ background-color: blue;
        text-align: left;
        


}
h1{
    color: white;
    background-color: cornflowerblue;
    font-size: 20px;
    text-align:center
}
h2{
    color:red;
    background-color: cornflowerblue;
    font-size: 1.0em;
}
p{
    position: nome;
    top: 0px;
    border: none;
    font-size: larger;
   
    margin-bottom: 1em;
font-size: 1.0em;

}
a{


    color:white;
    font-size: 1.0em; 

}