@charset "UTF-8";

body{

background-color: aqua;
font-family: Arial, Helvetica, sans-serif

}
h1{color: rgb(73, 86, 50);}

h2{color: rgb(128, 136, 113);}

h1#principal {

background-color: blue;
color: white;
}
.basico{
background-color: rgba(72, 97, 29, 0.669);

}
.intermediario{
background-color: green;

}
.avancado{
background-color: red;

}
.destaque{
color: yellow;
width: ;
height: ;
}
